* {
    --main-bg-gradient: linear-gradient(to right, #000 0%, #707070 100%);
}
/* Header */
header {
    height: 72px;
}
nav {
    background: var(--main-bg-gradient);
}
nav .nav-item a,
nav .navbar-brand {
    color: white;
}
nav .nav-item a:hover,
nav .navbar-brand:hover {
    color: white;
}
.logofzyih {
    width: 75px;
}

/* Section One */
.section1 {
    /* height: 600px; */
    background: var(--main-bg-gradient);
}
.image1 {
    object-fit: cover;
    height: 600px;
}
.image2 {
    width: 486px;
    height: 552px;
}
.image3 {
    width: 486px;
    height: 552px;
}
p {
    margin-top: revert !important;
}

footer {
    height: 426px;
    background: var(--main-bg-gradient);
}
.avatar {
    width: 140px;
    height: 140px;
}
.justifier {
    text-align: justify;
    font-size: 18px;
}
.mention {
    height: 50px;
}
.carré1 {
    width: 386px;
    height: 452px;
    top: -23px;
    left: 62px;
    z-index: -1;
}
.carré2 {
    width: 200px;
    height: 200px;
    top: -19px;
    left: 389px;
    z-index: -1;
}
.bordure {
    padding-left: 50px;
    padding-right: 50px;
}
.bordure1 {
    padding: 10px;
    --bs-border-width: 3px;
}
