.header {
    height: 72px;
}
.logofzyih {
    width: 15%;
}
.section1 {
    height: 600px;
}
.image1 {
    object-fit: cover;
    height: 600px;
}
.image2 {
    width: 486px;
    height: 552px;
}
.image3 {
    width: 486px;
    height: 552px;
}
p {
    margin-top: revert !important;
}
.background {
    background: linear-gradient(to right, #000 0%, #707070 100%);
}
.foooter {
    height: 426px;
}
.avatar {
    width: 140px;
    height: 140px;
}
.justifier {
    text-align: justify;
}
.mention {
    height: 50px;
}
